<div class="header">
    <h1><a href="">Angular project</a> </h1>
    <nav>
        <ul>
            <li><a routerLinkActive="active"  routerLink="./home">home</a></li>
            <li><a  routerLinkActive="active" routerLink="./todo">Todo</a></li>
            <li><a routerLinkActive="active" routerLink="./products">products</a></li>
            <li><a routerLinkActive="active"  routerLink="./homework">homework 1</a></li>
            <li><a routerLinkActive="active"  routerLink="./survey">survey</a></li>

            <li><a   routerLink="/"> <i class="fa fa-sign-out"></i></a></li>

        </ul>
        
    </nav>
</div>