<div class="container">
    <div class="card shadow text-center mb-5 todo-form">
        <div class="card-header bg-primary text-light">
            <h4>{{'Todo list' | uppercase}}</h4>
        </div>
        <div class="card-body">
            <div class="d-flex align-items-center field p-1">
                <input type="text" name="todo" class="form-control" placeholder="type your todo..." [(ngModel)]="todoText">
                <button class="btn btn-primary" (click)="addTodo(todoText)">ADD</button>
            </div>
        </div>
    </div>
    <div class="card shadow text-center mb-5 todo-form">
        <div class="card-header bg-primary text-light">
            <h4>{{'To Do:' | uppercase}}</h4>
        </div>
        <div class="card-body">
            <ul>
                <li *ngFor="let todo of todoList" class="d-flex" >
                    <input type="checkbox" name="" [id]="todo.id" [(ngModel)]="todo.completed">
                    <span class="ms-2">{{todo.title}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>